body {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    background: #f6f6f6;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
    color: #666;
    -webkit-text-size-adjust: 100% !important;
    padding-bottom: env(safe-area-inset-bottom);
    height: 1000px;
}
.header{
    height: 45px;
    line-height: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.header div{
    float: left;
}
.w8{
    width: 8%;
    background-color: #333;
}
.w8 img{
    width: 10px;
}
.w10{
    width: 10%;
    background-color: #333;
}
.w10 img{
    width: 30px;
    vertical-align: middle;
}
.w57{
    width: 57%;
    background-color: #333;
}
.w25{
    width: 25%;
    background-color: #f63515;
    color: #fff;
}
/*  */
.nav{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 44px;
    background-color: #c82519;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
}
.nav_left{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
}
.login{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 44px;
}
.search{
    position: relative;
    margin: 0px 50px;
    margin-top: 6px;
    height: 30px;
    background-color: #fff;
    border-radius: 40px;
}
.nav_left img{
    float: right;
    margin-top: 13px;
    width: 20px;
}
.search .nav_logo{
    position: absolute;
    left: 16px;
    top: 7px;
    width: 27px;
    height: 16px;
    border-right: 1px solid #dddddd;
    background: url(../images/logo2.png) no-repeat;
    background-size: 20px auto;
}
.search_pic{
    position: absolute;
    left: 45px;
    top: 7px;
    width: 20px;
    height: 20px;
    background: url(../images/jd-sprites.png) no-repeat;
    background-position: -80px 0px;
    background-size: 200px;
}
.nav_input{
    padding-left: 70px;
    padding-right: 20px;
    width: 100%;
}
.nav_input input{
    display: inline-block;
    width: 100%;
    height: 30px;
}
/*  */
.focus{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.focus .bigbox{
    /* display: flex; */
    /* transform: none;
    transition: none; */
    width: 600%;
}
.focus img{
    float: left;
    /* flex: 1; */
    width: 16.6666%;
}
.focus .cycles{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    height: 14px;
    line-height: 14px;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 5%);
}
.cycles li{
    float: left;
    width: 12px;
    height: 12px;
    margin: 0px 5px;
    background: hsla(0,0%,100%,.6);
    border-radius: 12px;
}
div ul li.past{
    background: hsla(0,0%,100%,.6);
}
div ul li.current{
    background-color: #fa2c19;
}
/*  */
.dir_list{
    width: 100%;
    overflow: hidden;
}
.dir_list ul{
    width: 100%;
}
.dir_list ul li{
    float: left;
    width: 20%;
    height: 100px;
    text-align: center;
}
.dir_list li img{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.dir_list li span{
    display: block;
    margin-top: 10px;
}
/*  */
.main{
    padding: 6px  12px 2px;
    width: 100%;
}
.main_wrap{
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.main_wrap .main_list{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,#fa5956,#fb8650);
    color: #fff;
}
.main_wrap .main_list:nth-child(-n+4){
    border-right: 1px solid #fff;
}
.main_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 58px;
}
.main_item:nth-child(-n+2){
    border-bottom: 1px solid #fff;
}
.main_item span:nth-child(1){
    width: 28px;
    height: 28px;
    margin-bottom: 2px;
    background: url(../images/hotel.png);
    background-size: 28px auto;
}
.main_item span:nth-child(2){
    font-size: 12px;
    line-height: 15px;
}
/*  */
.comment_nav{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    max-width: 540px;
    width: 100%;
    height: 50px;
    background: #fff;
}
.comment_nav ul{
    display: flex;
    width: 100%;
}
.comment_nav ul li{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 5%);
}
.comment_nav li span:nth-child(1){
    width: 32px;
    height: 32px;
    margin-bottom: 2px;
    background: url(../images/tabbar.png) no-repeat;
    background-size: 32px auto;
}